body{

    background-image: url(https://t3.ftcdn.net/jpg/02/94/59/32/240_F_294593202_17ZRq7bu9P1Q9oxweQbtmKOsjCfLObYF.jpg);
    background-size:cover;
    background-position: center center;
  background-attachment: fixed;
  color: white; 
  
  }
  .pic{
    height:160px;
    border-radius: 5px;
    box-shadow: 5px;
  }
  .aashi{
    height:160px;
    border-radius: 5px;
    box-shadow: 5px;
    width:140px;
  }
  .shreya{
    height:160px;
    border-radius: 5px;
    box-shadow: 5px;
    width:140px;
  }
  .sakshi{
    height:180px;
    border-radius: 5px;
    box-shadow: 5px;
    width:160px;
  }
  .meghna{
    height:160px;
    border-radius: 5px;
    box-shadow: 5px;
    width:140px;
  }
  .srishti{
    height:160px;
    border-radius: 5px;
    box-shadow: 5px;
    width:140px;
    
  }
  
  h1{
  color:rgb(245, 245, 9);
  }
  .stars i{
    font-size: 1.5rem;
    color:rgb(243, 201, 15);
  }
  .title{
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
    
    }
    .card {
        width: 90%;
        max-width: 400px;
        
        border-radius: 1rem;
        border: 1px solid transparent;
        backdrop-filter: blur(1rem);
        box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
        border-top-color: rgba(231, 222, 222, 0.5);
  border-left-color: rgba(231, 222, 222, 0.5);
  border-bottom-color: rgba(231, 222, 222, 0.5);
  border-right-color: rgba(231, 222, 222, 0.5);
        }
  
  .cb1{
    background-color: rgba(217, 198, 198, 0.1);
  }
  .btn{
    color:black;
  }
  .fa-instagram {  
      height:20px;
      width:30px;
      
    color: rgb(229, 82, 106);  
  }  
  
  .fa-instagram:hover {  
    
    color: rgb(231, 15, 51);  
  }  
  .fa {
   
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding-bottom:0px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  .name{
    color:black;
    font-family: 'Raleway', sans-serif;
    text-shadow: 5px;
    padding-top:5px;
    font-weight: bold;
  }
  .card-text{
    font-size:15px;
    color:yellow;
  }